<!-- Modals -->
<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="alert-modal-label"
  aria-hidden="true">
  <div class="modal-dialog text-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alert-modal-label"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body h3 elite" id="modal-message">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-colour-dark-outline" id="modal-close">Close</button>
        <button type="button" class="btn btn-colour-dark-outline" id="modal-favorites">Go to favorites</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="form-modal-label"
  aria-hidden="true">
  <div class="modal-dialog text-center" role="document">
    <div class="modal-content" id="notes">
      <div class="modal-header">
        <h5 class="modal-title" id="form-modal-label"></h5>
        <span id="form-modal-label-hidden" class="d-none"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/articles" method="POST"></form>
      <div class="modal-body elite">
        <p class="form-message small text-right"></p>
        <p class="textarea-helper small text-center text-danger"></p>
        <textarea class="form-control" id="textarea" placeholder="New note"></textarea>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-colour-dark-outline" id="form-cancel"><i class="fas fa-undo"></i>
          Reset</button>
        <button type="button" class="btn btn-colour-dark-outline" id="form-send"><i class="fas fa-paper-plane"></i>
          Send</button>
        <button type="button" class="btn btn-colour-dark-outline" data-dismiss="modal"><i class="fas fa-times"></i>
          Close</button>
      </div>
      </form>
    </div>
  </div>
</div>