body {
  padding-top: 64px!important;
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
}

h5 a {
  color: #ffffff;
}

a {
  color: #333333;
}

.page {
  margin-top: -64px!important;
  background-image: url("/images/1-white.jpg");
  background-size: cover; 
}

.page h1 {
  font-family: 'Special Elite', cursive;
  color: #333333;
  text-shadow:  2px 2px 2px rgb(116, 91, 91), 
                4px 4px 4px rgba(0,0,0,.5);
}

/* .btn-colour-light {
  background-color: #e8e8e8!important;
  box-shadow: 2px 2px 4px #1a237e80,
              0 0 4px #1a237e90;
  color: #011c39;
}

.btn-colour-light:hover {
  background-color: #011c39!important;
  border: 1px solid #e8e8e8;
  color: #e8e8e8;
} */

.select {
  background-color: #ffffff!important;
  box-shadow: 2px 2px 4px #12121280,
              0 0 4px #22222290;
  color: #333333;
}

.select:hover {
  background-color: #121212!important;
  border: 1px solid #ffffff;
  color: #ffffff;
}


.btn-colour-light-outline {
  background-color: #ffffff!important;
  box-shadow: 2px 2px 4px #12121280,
              0 0 4px #22222290;
  color: #333333;
}

.btn-colour-light-outline:hover {
  background-color: #121212!important;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn-colour-dark {
  background-color: #ffffff!important;
  box-shadow: 2px 2px 4px #ffffff80,
              0 0 4px ffffff90;
  color: #121212;
}

.btn-colour-dark:hover {
  background-color: transparent!important;
  color: #ffffff!important;
  box-shadow: none;
}

.btn-colour-dark-outline {
  background-color: #121212!important;
  box-shadow: 2px 2px 4px #12121280,
              0 0 4px #12121290;
  color: #ffffff;
}

.btn-colour-dark-outline:hover {
  background-color: transparent!important;
  color: #121212!important;
  border: 1px solid #121212!important;
  box-shadow: none;
}

.colour {
  background-color: #fefefe!important;
  box-shadow: 0 2px 1px 0 #e8e8e8,
              0 4px 4px 0 #121212;
  color: #ffffff;
}

footer {
  background-color: #ffffff!important;
  padding: 20px;
  color: #121212;
  box-shadow: inset 0 2px 1px 0 #121212;
}

.colour a {
  color: #121212!important;
}

.colour a:hover {
  color: #333333!important;
}

.spotlight {
  background: #121212 url("/images/notes-white.png") bottom left;
  background-repeat: no-repeat;
  box-shadow: 0 -2px 2px 2px rgba(0,0,0,1), 
               0 -4px 4px 4px rgba(255,255,255,.5),
               0 2px 2px 2px rgba(0,0,0,1), 
               0 4px 4px 4px rgba(255,255,255,.5)
}

.regular {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.articles {
  background: url("/images/3t-w.jpg") top left, url("/images/3b-w.jpg") bottom left;
  background-repeat: repeat-x;
  box-shadow: 0 -2px 1px 0 #e8e8e8;
}

.lovin-it {
  background-color: transparent!important;
  color: #011c39!important;
  box-shadow: none;
}

.main-article {
  max-width: 970px!important;;
}

.modal-dialog {
  background: #e8e8e8;
  background-repeat: no-repeat;
  box-shadow: 0 -2px 2px 2px rgba(0,0,0,1), 
               0 -4px 4px 4px rgba(255,255,255,.5),
               0 2px 2px 2px rgba(0,0,0,1), 
               0 4px 4px 4px rgba(255,255,255,.5);
}

.modal-content {
  border-radius:0!important;
  background: #e8e8e8 url("/images/notes.png") bottom left no-repeat;

}

.navbar-brand {
  font-family: 'Special Elite', cursive;
}

a.link-light {
  color: #121212;
}

.elite {
  font-family: 'Special Elite', cursive;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.btn-big {
  background: #e8e8e8;
}

#scroll-to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 7px;
  right: 5px;
  background-color: #e8e8e8!important;
  box-shadow: 2px 2px 4px #1a237e80,
              0 0 4px #1a237e90;
  color: #011c39;
}

#scroll-to-top:hover {
  background-color: #011c39!important;
  border: 1px solid #e8e8e8;
  color: #e8e8e8;
}

.card-text {
  color: #ffffff!important;
}

.small-cards .card-text {
  color: #121212!important;
}

.text-muted {
  color: #ffffff90!important
}